@import '../../bower_components/skeleton-less/less/skeleton';

html,
body {
  background-color: #fff;
  float: center;
  color: #000;
  font-family: monospace;
}
#map-container {
  width: 100%;
  /*width: 800px;*/
  height: 300px;
  position: relative;
}
#map {
  height: 100%;
  /*width: 800px;*/
  width: 100%;
}
.container {
  /*width: 100%;
	height: 100%;*/
  padding-top: 20px;
}
label {
  margin-top: 20px;
}
.insta {
  width: 60px;
  height: 60px;
}
#block-text {
  width: 100%;
  height: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#pin {
  /*position: absolute;*/
  /*top: 100px;*/
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*#pin{
	width: 30px;
	height: 100px;
	background: url("images/pin.jpeg");
	background-size: 100% 100%;
}*/
